<!doctype html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  <title>SwiftMeme</title>
 </head>
 <body>
  <div id="header">
   <h1>SwiftMeme</h1>
   <ul>
    <li>Pricing</li>
   </ul>
   <p><a href="/login">Login</a></p>
  </div>
  <div id="content">
   {% block content %}
   {% endblock %}
  </div>
  <div id="footer">
   <p><strong>Meme (meme)</strong> A catchphrase or concept that spreads quickly from person to person on the internet.</p>
   <p>&copy; SwiftRiver <a href="/about">About SwiftMeme</a> <a href="/terms">Terms of Service</a> <a href="/privacy">Privacy Policy</a></p>
  </div>
 </body>
</html>
